*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 1.5rem;
  height: auto;
}

body {
  margin: 0%;
  padding: 0%;

  background: #f7f6f4;

  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav img {
  height: 25px;
  width: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

nav li {
  height: 50px;
}

nav a {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 30px;

  text-decoration: none;
  color: #000000;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start ;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.322);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.sidebar li {
  width: 100%;
  height: 4rem;
}

.sidebar a {
  width: 100%;
}

.sidebar span {
  font-size: 2rem;
}

.menu-button {
  display: none;
}

@media (max-width: 1024px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  display: block;

  padding: 1rem 1rem 0 0rem;

  background-color: #fff1e6;

  hr {
    margin-top: 1rem;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */

    padding: 0.7rem 1.5rem;
  }

  .top-section img {
    width: 7rem;
    height: auto;
  }

  .top-section #three-lines {
    width: 1.5rem;
    height: 1.5rem;
  }

  .top-section #logo {
    /* border: 1px solid black; */

    width: 100%;
    height: auto;
    margin: 0%;
  }
}

main {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 0rem 2rem;

    overflow: hidden;
    text-align: center;
    line-height: 1.4;
  }

  .purpose {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/photos/book.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: #fff;
  }

  .purpose h1 {
    font-size: 3rem;
  }

  .purpose p {
    font-size: 1.5rem;
    text-align: center;
  }

  .vision {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/photos/book_2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: #fff;
  }

  .vision h1 {
    font-size: 3rem;
  }

  .vision p {
    font-size: 1.5rem;
    text-align: center;
  }

  .quote {
    width: 100%;
    height: 30vh;

    background-color: #fff;
  }

  .quote p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
  }

  .quote .special-text {
    font-style: italic;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 30vh;

    background-color: #fff;
  }

  .contacts h2 {
    width: 100%;
    margin: 1rem 1rem 2rem 1rem;
  }

  .contacts ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    list-style-type: none;
  }

  .contacts a {
    text-decoration: none;
  }

  .contacts a:visited {
    color: black;
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  /* margin: 0 5%; */
  padding: 5%;

  background-color: #b7b7a4;

  .footer-section h1 {
    color: #000000;
  }

  .footer-section a,
  p {
    color: #646464;
  }

  .footer-section h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .footer-section a {
    /* padding-top: 0%;
        padding: .1rem .2rem; */

    text-decoration: none;
  }

  .footer-section img {
    width: 1.5rem;
    margin: 1rem;
  }

  #newsletter p {
    margin-top: 0;
  }
}

/* @media (min-width: 1024px) {
} */
