* {
    margin: 0;
    padding: 0;
}

img {
  width: 1.5rem;
  height: auto;
}

body {
  margin: 0%;
  padding: 0%;

  min-height: 100vh;

  background: #fff;

  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav img {
  height: 25px;
  width: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

nav li {
  height: 50px;
}

nav a {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 30px;

  text-decoration: none;
  color: #000000;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start ;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.322);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.sidebar li {
  width: 100%;
  height: 4rem;
}

.sidebar a {
  width: 100%;
}

.sidebar span {
  font-size: 2rem;
}

.menu-button {
  display: none;
}

@media (max-width: 1024px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}

header {
  position: static;
  top: 0;

  padding: 1rem;

  background-color: #fff1e6;

  hr {
    margin-top: 1rem;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */

    padding: 0.7rem 1.5rem;
  }

  .top-section img {
    width: 7rem;
    height: auto;
  }

  .top-section #three-lines {
    width: 1.5rem;
    height: 1.5rem;
  }

  .top-section #logo {
    /* border: 1px solid black; */

    width: 100%;
    height: auto;
    margin: 0%;
  }
}

main {
  .unit-section {
    padding: 2rem;
  }

  .unit-section h2 {
    margin: 0 0 1rem 0;
  }

  #pages {
    margin-bottom: 1rem;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .theme-section {
    margin: 2rem;
  }

  .theme-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .theme-section label {
    margin-right: 1rem;

    font-size: 1.5rem;
    font-weight: bold;
  }

  .theme-section #tag-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;  
    appearance: none;  

    background: url('../assets/down-arrow.png') no-repeat;
    background-position: calc(100% - 1rem) center; /* Adjust 20px for desired right offset */
    background-size: 1.5rem 1.5rem; /* Adjust size as needed */
    padding-right: 1rem;

    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
  }

  .theme-section #tag-dropdown option {
    font-size: 1rem;
  }

  .button-section {
    padding: 2rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .button-box p {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .button-box button {
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;

    background-color: #fff;
    border-color: 12px solid #646464;
  }

  #export-box {
    margin-bottom: 1rem;
  }

  #import-box {
    margin-top: 1rem;
  }

  .delete-section {
    padding: 2rem;
  }
}

footer {
  /* position: fixed;
    bottom: 0; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  /* margin: 0 5%; */
  padding: 5%;

  background-color: #b7b7a4;

  .footer-section h1 {
    color: #000000;
  }

  .footer-section a,
  p {
    color: #646464;
  }

  .footer-section h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .footer-section a {
    /* padding-top: 0%;
        padding: .1rem .2rem; */

    text-decoration: none;
  }

  .footer-section img {
    width: 1.5rem;
    margin: 1rem;
  }

  #newsletter p {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .card:hover,
  .dashboard:hover {
    box-shadow: none;
  }

  main tbody tr:hover {
    background:#fbfbfb; 
  }
}
